@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <h4>Password Reset Link Has Been Sent To Your Mail, Please Check Your Inbox</h4>
        </div>
        <br />
        <a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
    </div>
</div>