@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail" method="post">

			<input class="form-control email" asp-for="Email" placeholder="Email">
			<span asp-validation-for="Email" class="text-danger"></span>

			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}