@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>


<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="ResetPassword" method="post">


            <input class="form-control" asp-for="NewPassword" placeholder="New Password">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <br />
            <input class="form-control" asp-for="ConfirmNewPassword" placeholder="Confirm New Password">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            
            <input type="submit" value="RESET">
        </form>
    </div>
</div>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

